
 <link
 rel="stylesheet"
 href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
/>
<link
 rel="stylesheet"
 href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
 integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
 crossorigin="anonymous"
/>
<script
 src="https://code.jquery.com/jquery-3.6.1.js"
 integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
 crossorigin="anonymous"
></script>
<script src="https://kit.fontawesome.com/5b0a102317.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/css/index.css" />
<link rel="stylesheet" href="/css/admin.css">
<aside class="sidebar">
    <header class="sidebar-header align-items-center justify-content-center">
      <img
        class="logo-img d-block ml-3"
        src="/images/parkolay-logo-removebg-preview.png"
      />
      
      <i class="logo-icon uil uil-parking-square"></i>
      <span class="h3 ml-4 d-flex"><b>Admin Dashboard</b></span>
    </header>
    <nav>
      <button onclick="window.location.href = '/admin'" class="button">
          <span>
            <i class="uil uil-user"></i>
            <span>Profil</span>
          </span>
        </button>
      
      <button onclick="window.location.href = '/admin/company-settings'" class="button">
        <span>
        <i class="fa-solid fa-building"></i>
          <span>Otopark Firma İşlemleri</span>
        </span>
      </button>
      
      <button onclick="window.location.href = '/admin/user-settings'" class="button">
        <span>
          <i class="uil uil-plus-circle"> </i>
          <span>Kullanıcı İşlemleri</span>
        </span>
      </button>
      
        
      <button onclick="window.location.href = '/logout'">
        <span>
          <iconify-icon icon="majesticons:door-exit-line" width="30" height="30"></iconify-icon>
          <span style="color: red;">Çıkış</span>
        </span>
      </button>
    </nav>
  </aside>
</div>

<script src="https://code.iconify.design/iconify-icon/1.0.2/iconify-icon.min.js"></script>