<aside class="sidebar">
    <header class="sidebar-header">
      <img
        class="logo-img"
        src="/images/parkolay-logo-removebg-preview.png"
      />
      <i class="logo-icon uil uil-parking-square"></i>
    </header>
    <nav>
      <button>
          <span>
            <i class="uil uil-user"></i>
            <span>Profil</span>
          </span>
        </button>
      <button>
        <span>
          <i class="uil uil-search"></i>
          <span>Arama</span>
        </span>
      </button>
      
      <button>
        <span>
          <i class="uil uil-car">
            <span>2</span>
          </i>
          <span>Otoparkım</span>
        </span>
      </button>
      <button onclick="window.location.href = '/addOtopark'">
        <span>
          <i class="uil uil-plus-circle"> </i>
          <span>Otopark Ekle</span>
        </span>
      </button>
      
      <button>
          <span>
            <i class="uil uil-setting"></i>
            <span>Ayarlar</span>
          </span>
        </button>
        <button id="logout-button">
            <span>
              <iconify-icon icon="majesticons:door-exit-line" width="30" height="30"></iconify-icon>
              <span style="color: red;">Çıkış</span>
            </span>
          </button>
    </nav>
  </aside>
</div>
<script>
    document.getElementById("logout-button").addEventListener("click", function() {
    window.location.href = "/logout";
  });
  </script>
  <script src="https://code.iconify.design/iconify-icon/1.0.2/iconify-icon.min.js"></script>