<aside class="sidebar">
    <header class="sidebar-header">
      <img
        class="logo-img"
        src="/images/parkolay-logo-removebg-preview.png"
      />
      <i class="logo-icon uil uil-parking-square"></i>
    </header>
    <nav>
      <button class="button">
          <span>
            <i class="uil uil-user"></i>
            <span>Profil</span>
          </span>
        </button>
      
      <button class="button" onclick="window.location.href = '/Otoparklar'">
        <span>
          <i class="uil uil-map">
            
          </i>
          <span>Otoparklar</span>
        </span>
      </button>
      <button class="button" onclick="window.location.href = '/user-araclar'">
        <span>
          <i class="uil uil-car">
            
          </i>
          <span>Aracım</span>
        </span>
      </button>
      <button class="button" onclick="window.location.href = '/addArac'">
        <span>
          <i class="uil uil-plus-circle"> </i>
          <span>Araç Ekle</span>
        </span>
      </button>
      
      <button class="button">
          <span>
            <i class="uil uil-setting"></i>
            <span>Ayarlar</span>
          </span>
      </button>
        
      <button onclick="window.location.href = '/logout'">
        <span>
          <iconify-icon icon="majesticons:door-exit-line" width="30" height="30"></iconify-icon>
          <span style="color: red;">Çıkış</span>
        </span>
      </button>
    </nav>
  </aside>
</div>

<script src="https://code.iconify.design/iconify-icon/1.0.2/iconify-icon.min.js"></script>