<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous"
  />
  <script
    src="https://code.jquery.com/jquery-3.6.1.js"
    integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
    crossorigin="anonymous"
  ></script>
  <script src="https://kit.fontawesome.com/5b0a102317.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/invoice.css">
</head>
<body>

    <div class="container">   
        <div class="row">
               
               <div class="receipt-main">
                   <div class="">
                       <div class="receipt-header">
                          
                           <div class="text-right">
                               <div class="receipt-right">
                                   <h5>Company Name.</h5>
                                   <p>+1 3649-6589 <i class="fa fa-phone"></i></p>
                                   <p>company@gmail.com <i class="fa fa-envelope-o"></i></p>
                        
                               </div>
                           </div>
                       </div>
                   </div>
                   
                   <div class="row">
                       <div class="receipt-header receipt-header-mid">
                           <div class="text-left">
                               <div class="receipt-right">
                                   <h5>Customer Name </h5>
                                   <p><b>Mobile :</b> +1 12345-4569</p>
                                   <p><b>Email :</b> customer@gmail.com</p>
                                 
                               </div>
                           </div>
                           <div class="pt-3">
                               <div class="receipt-left">
                                   <h3>INVOICE # 102</h3>
                               </div>
                           </div>
                       </div>
                   </div>
                   
                   <div>
                       <table class="table table-bordered">
                           <thead>
                               <tr>
                                   <th>Description</th>
                                   <th>Amount</th>
                               </tr>
                           </thead>
                           <tbody>
                               <tr>
                                   <td class="col-lg-9">Otopark Ücreti</td>
                                   <td class="col-lg-3"><i class="fa-solid fa-turkish-lira-sign"></i> 15,50</td>
                               </tr>
                               
                               <tr>
                                  
                                   <td class="text-right"><h2><strong>Total: </strong></h2></td>
                                   <td class="text-left text-danger"><h2><strong><i class="fa-solid fa-turkish-lira-sign"></i> 15.50</strong></h2></td>
                               </tr>
                           </tbody>
                       </table>
                   </div>
                   
                   <div class="row">
                       <div class="receipt-header receipt-header-mid receipt-footer">
                           <div class="col-xs-8 col-sm-8 col-md-8 text-left">
                               <div class="receipt-right">
                                   <p><b>Date :</b> 15 Aug 2016</p>
                                   <h5 style="color: rgb(140, 140, 140);">Thanks for shopping.!</h5>
                               </div>
                           </div>
                           <div class="col-xs-4 col-sm-4 col-md-4">
                               <div class="receipt-left">
                                   <h1>Stamp</h1>
                               </div>
                           </div>
                       </div>
                   </div>
                   
               </div>    
           </div>
       </div>
    
</body>
</html>