.activate-form.is-active {
  background-color: #007bff;
  color: white;
}
.activate-form {
  width: 100rem;
  margin: 0 5px 35px 0;
}

.custom-register {
  display: none;
}
.custom-register.is-active {
  display: block;
}
body {
  background-image: url("../images/5559852.jpg");
}
.existMail {
  border: 1px solid red;
  color: red;
}
